services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-digiboard-app
    volumes:
      - ./:/var/www
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 3306
    networks:
      - laravel-net
    depends_on: []

  web:
    image: nginx:alpine
    container_name: api-digiboard-nginx
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - laravel-net
    depends_on:
      - app

networks:
  laravel-net:
    driver: bridge
